html, body {
  height: 100%;
  min-width: fit-content!important;
  max-width: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,500;1,600&display=swap');

div {
  overflow:auto;
}

header {
  background-color: #AC6FD8;
  padding: 0px;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  overflow: hidden;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;  
}

.title {
  color: #591789;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 600;
  font-style: italic;
  margin-left: 20px;
  float: left;
}

nav {
  margin-right: 20px;
  float: right;
  padding: 20px;
}

nav li {
  display: inline-block;
  margin: 5px
}

nav li a {
  list-style-type: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #FFF4E1; 
}

h1, h2 {
  color: #AC6FD8;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-style: italic;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  color: #413835;
  margin: 5px 35px;
}

li {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  color: #413835;
  margin-left: 35px;
  padding-right: 30px;
}

body {
  background-color: #FFF4E1;
  overflow-x: hidden;
}

.subheader {
  width: 100%;
  overflow: auto;
  color: #591789;
  background-color: #dbaafd;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 600;
  font-style: bold;
  margin: 20px;
  margin-left: -10px;
  padding: 20px;
  padding-top: 30px;
}

.subtitle {
  color: #591789;
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
  font-weight: 600;
  font-style: italic;
  margin-left: 20px;
  margin-bottom: auto;
  float: left;
}

.indexsubtitle {
  color: #591789;
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
  font-weight: 600;
  font-style: italic;
  margin-left: 20px;
  margin-bottom: auto;
  float: left;
  padding-top: 50px;
  padding-right: 25px;
}

.subheader p {
  margin-top: 10px;
  color: #591789;
  padding-right: 30px;
  margin-left: 25px;
}

.indexp {
  padding-left: 10px;
}

.buttons {
  width: 90%;
  margin: 20px auto;
  padding-top: 10px;
}

.buttons div {
  background-color: #FFA6C9;
  width: 22.5%;
  height: 200px;
  padding: 10px;
  float: left;
  margin: 5px 7px;
  overflow: auto;
  transition: transform 0.5s ease;
}

.buttons div:hover {
  transform: scale(1.025);
}

.buttons a {
  color: #A2006D;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: 600;
  font-style: italic;
  text-align: left;
  margin-bottom: 5px;
  padding: 10px;
}

.buttons p {
  color: #A2006D;
  margin: 5px;
  padding: 10px;
  font-size: 18.5px
}

.sources {
  font-size: 15px;
}

footer {
  background-color: #AC6FD8;
  padding: 0px;
  width: 100%;
  height: 125px;
  position: relative;
  bottom: 0px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  overflow: hidden;
  align-items: center;
  z-index: 999; 
}

footer div {
  float: right;
  margin: 35px 35px auto auto;
}

.ftrtitle {
  color: #591789;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 600;
  font-style: italic;
  margin-left: 20px;
}

footer nav {
  margin: 30px 0px;
  padding: 5px;
  float: left;
}

footer nav li {
  margin: 1px;
  display: inline-block;
}

footer nav li a {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #FFF4E1;
  text-decoration: none;
}

.ftrnavRight {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #FFF4E1;
  margin: -20px 35px 7px 7px;
  float: right;
  padding: 0px;
  text-decoration: none;
}

a {
  color: #A2006D;
  font-weight: bold;
  transition: color 0.25s
}

a:hover {
  color: #591789;
}

::selection {
  color: #FFF4E1;
  background: #A2006D;
}

/*not working ???*/
header::selection, .subheader::selection, footer::selection {
  color: #FFF4E1;
  background: #591789;
}

.wip {
  color: #591789;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 600;
  font-style: bold;
  margin-left: 20px;
  float: left;
  padding: 25px;
}
 .heheheheh {
        -webkit-animation: colorchange 20s infinite;
        animation: colorchange 20s infinite;
      }
      @-webkit-keyframes colorchange {
        0% {
          background: #EFD7D4;
        }
        20% {
          background: #F4EED6;
        }
        40% {
          background: #D1E3CC;
        }
        60% {
          background: #CDDFE3;
        }
        70% {
          background: #CACEE1;
        }
        100% {
          background: #EFD7D4;
        }
      }
.animation {
    @keyframes whirlOut {
    to {
    transform: scale(0) rotateZ(1260deg);
       }
    }
}
img.flagRight {
  float: right;
  margin: 35px;
  width: 500px;
  height: 250px;
  position: relative;
}

img.flagLeft {
  float: left;
  margin: 35px;
  width: 500px;
  height: 250px;
  position: relative;
}

.video {
  margin: 0px auto;
  width: 560px;
  height: 400px;
  text-align: center;
}

.center {
  text-align: center;
}

.video iframe {
  text-align: center;
}

.socmeds {
  width: 100px;
  margin: 0px auto;
}

.socmeds * {
  transition: scale 0.5s ease;
}

.twitter {
	background: url('../images/socmed_sprites.png') no-repeat -296px -91px;
	width: 33px;
	height: 33px;
  float: left;
}

.facebook {
	background: url('../images/socmed_sprites.png') no-repeat -182px -91px;
	width: 33px;
	height: 32px;
  float: left;
}

.email {
	background: url('../images/socmed_sprites.png') no-repeat -11px -91px;
	width: 32px;
	height: 33px;
}

.twitter:hover {
  transform: scale(1.05);
}

.facebook:hover {
  transform: scale(1.05);
}

.email:hover {
  transform: scale(1.05);
}

.ethanpicture {
  float: left;
  margin: 35px;
  height: 20%;
  width: 20%;
  position: relative;
}

.benpicture {
  float: right;
  margin: 35px;
  height: 20%;
  width: 20%;
  position: relative;
}

/*devices (i am in pain.)*/
/*580px <= width < 600px*/
@media only screen and (max-width: 600px) {
  .title {
    font-size: 30px;
    margin: 20px 0px 0px 30px;
  }
  nav {
    float: left;
    padding: 0px;
    margin-top: -10px;
  }
  nav li {
    display: inline-block;
    margin: 0px
  }
  nav li a {
    font-size: 13px;
  }
  .subtitle {
    font-size: 25px;
  }
  .subheader p {
    font-size: 15px;
    margin-top: 0px;
  }
  .indexp {
    margin-top: 10px!important;
    padding-right: 0px!important;
  }
  .buttons div {
    width: 44.25%;
    height: 150px;
    margin: 5px;
  }
  .buttons a {
    font-size: 17px;
  }
  .buttons p {
    font-size: 15px;
  }
  p, li {
    font-size: 15px;
  }
  img.flagLeft, img.flagRight {
    float: none!important;
    margin: 15px 15vw;
  }
  footer {
    right: 0px;
  }
  .ftrtitle {
    font-size: 17px;
  }
  .ftrnav {
    display: none;
  }
  .ftrnavRight {
    font-size: 13px;
  }
}

/*600px <= width < 841px*/
@media only screen and (min-width: 600px) and (max-width: 841px) {
  .title {
    font-size: 30px;
    margin: 20px 0px 0px 30px;
  }
  nav {  
    float: left;
    padding: 0px;
    margin-top: -10px;
  }
  nav li {
    display: inline-block;
    margin: 0px
  }
  nav li a {
    font-size: 13px;
  }
  .subtitle {
    font-size: 25px;
  }
  .subheader p {
    font-size: 15px;
    margin-top: 0px;
  }
  .indexp {
    margin-top: 10px!important;
    padding-right: 0px!important;
  }
  .buttons div {
    width: 44.25%;
    height: 150px;
    margin: 5px;
  }
  .buttons a {
    font-size: 17px;
  }
  .buttons p {
    font-size: 15px;
  }
  p, li {
    font-size: 15px;
  }
  img.flagLeft, img.flagRight {
    float: none!important;
    margin: 15px 20vw;
  }
  footer {
    right: 0px;
  }
  .ftrtitle {
    font-size: 17px;
  }
  .ftrnav {
    display: none;
  }
  .ftrnavRight {
    font-size: 13px;
  }
}

/*841px <= width < 955px*/
@media only screen and (min-width: 841px) and (max-width: 955px) {
  header {
    display: flex;                 
    justify-content: center;
  }
  .title {
    font-size: 30px;
    margin: 20px 0px;
  }
  nav {
    float: right;
    padding: 0px;
    margin-top: 0px;
    margin-right: 0px;
  }
  nav li {
    display: inline-block;
    margin: 0px
  }
  nav li a {
    font-size: 14px;
  }
  .subtitle {
    font-size: 25px;
  }
  .subheader p {
    font-size: 15px;
    margin-top: 0px;
  }
  .indexp {
    margin-top: 10px!important;
    padding-right: 0px!important;
  }
  .buttons div {
    width: 44.25%;
    height: 150px;
    margin: 5px;
  }
  .buttons a {
    font-size: 17px;
  }
  .buttons p {
    font-size: 15px;
  }
  p, li {
    font-size: 15px;
  }
  img.flagLeft, img.flagRight {
    float: none!important;
    margin: 15px 20vw;
  }
  footer {
    right: 0px;
  }
  .ftrtitle {
    font-size: 17px;
  }
  footer li a {
    font-size: 14px!important;
  }
  .ftrnavRight {
    font-size: 14px;
  }
}

/*955px <= width < 1200*/
@media only screen and (min-width: 955px) and (max-width: 1200px) {
  header {
    display: flex;                 
    justify-content: center;
  }
  .title {
    font-size: 35px;
    margin: 20px 0px 20px 30px;
  }
  nav {
    float: left;
    padding: 10px;
    margin-top: -10px;
  }
  nav li {
    margin: 0px;
    display: inline;
  }
  nav li a {
    font-size: 15px;
  }
  .subtitle {
    font-size: 25px;
  }
  .subheader p {
    font-size: 18px;
    margin-top: 0px;
  }
  .indexp {
    margin-top: 10px!important;
    padding-right: 0px!important;
  }
  .buttons div {
    width: 46.85%;
    height: 150px;
    margin: 5px;
  }
  .buttons a {
    font-size: 20px;
  }
  .buttons p {
    font-size: 18px;
  }
  p, li {
    font-size: 18px;
  }
  footer {
    right: 0px;
  }
  .ftrtitle {
    font-size: 17px;
  }
  .ftrnav {
    display: none;
  }
  .ftrnavRight {
    font-size: 13px;
  }
}

/* 1200 < width */
@media only screen and (min-width: 1200px) {
  .buttons div {
    width: 47.5%;
    height: 150px;
    margin: 5px;
  }
}