html, body {
  height: 100%;
  width: 100%;
      }
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,500;1,600&display=swap');

.header {
  background-color: #AC6FD8;
  padding: 0px;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  overflow: hidden;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;  
}

.title {
  color: #591789;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 600;
  font-style: italic;
  margin-left: 20px;
  float: left;
}

.nav {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #FFF4E1;
  margin-right: 20px;
  float: right;
  padding: 20px;
}

h1, h2 {
  color: #AC6FD8;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-style: italic;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  color: #413835;
  /*float: left;*/
  margin-left: 35px;
}

li {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  color: #413835;
  /*float: left;*/
  margin-left: 35px;
}

body {
  background-color: #FFF4E1;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: #A2006D;
}
.subheader {
  width: 100%;
  overflow: auto;
  /*align-items: center;*/
  color: #591789;
  background-color: #dbaafd;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 600;
  font-style: bold;
  margin: 20px;
  margin-left: -10px;
  /*float: left*/;
  padding: 20px;
  padding-top: 30px;
}

.subtitle {
  color: #591789;
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
  font-weight: 600;
  font-style: italic;
  margin-left: 20px;
  margin-bottom: auto;
  float: left;
}

.subheader > p {
  margin-top: 10px;
}

.wip {
  color: #591789;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 600;
  font-style: bold;
  margin-left: 20px;
  float: left;
  padding: 25px;
}
 .heheheheh {
        -webkit-animation: colorchange 20s infinite;
        animation: colorchange 20s infinite;
      }
      @-webkit-keyframes colorchange {
        0% {
          background: #EFD7D4;
        }
        20% {
          background: #F4EED6;
        }
        40% {
          background: #D1E3CC;
        }
        60% {
          background: #CDDFE3;
        }
        70% {
          background: #CACEE1;
        }
        100% {
          background: #EFD7D4;
        }
      }
.animation {
    @keyframes whirlOut {
    to {
    transform: scale(0) rotateZ(1260deg);
       }
    }
}